body{
    /* font-size:6vw; */
}
h1{
    color:orange;
    text-decoration:underline;
    word-spacing:5px;
    line-height:5px;
    font-style:italic;
    font-size:10vw;
    text-shadow:5px 10px black;
}
h2{
    color:red;
    text-decoration:underline;
    word-spacing:2px;
    line-height:3px;
    font-style:italic;
    font-size:3vw;
}
p{
    color:blue;
    text-align:left;
    text-transform: uppercase;
    letter-spacing:5px;
    text-shadow:1px 3px black;
    font-family:Times New Roman, Times, serif;
    font-style:oblique;
    font-size:2px;
 }
p.Firew{
  margin: 50px 30px 50px 30px;
  padding-left:20px;
  color:orange;
  text-indent:10px;
  font-style:italic;
  font-size:2vw;
  background-color:ffe5e5;
 }
a:link {
    color: black;
    background-color: white;
    text-decoration: none;
    /* border: 2px solid #808080; */
    padding: 4px;
  }
a:visited {
    color: green;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: red;
}
a:active {
    color: purple;
}
li{
    display: inline-block;
}


