a:link {
    color: black;
    background-color: white;
    text-decoration: none;
    /* border: 2px solid #808080; */
    padding: 4px;
  }
a:visited {
    color: green;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: red;
}
a:active {
    color: purple;
}


